{
  "extends": ["airbnb", "airbnb-typescript", "prettier"],
  "ignorePatterns": ["webpack.config.js", "src/stubs/*.cjs", "tests/**", "vitest.config.ts", "scripts/**"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": ["import"],
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "typescript": {}
    }
  },
  "rules": {
    "consistent-return": "off",
    "no-console": "off",
    "import/prefer-default-export": "off"
  }
}
